#root {
  background-color: black;
}

.ResortCard {
  width: 200px;
  text-align: left;
  padding: 10px;
}

h2 {
  font-size: large;
}

p {
  margin-bottom: 5px;
}

.ResortContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

@media (max-width: 800px) {
  .ResortContainer {
    flex-direction: column;
  }
  .ResortCard {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
  }
}
